In [ ]:
""" assignment 1 pilot test"""

In [16]:
height = int(input("enter your current altitude"))
if height<1000 :
  print("you can land")
elif height>5000 :
  print("turn around and attempt later")
else :
  print("first come down to 1000 feet")

enter your current altitude3025
first come down to 1000 feet

In [4]:
### assignment 2  print all prime numbers betweeen 1 and 200

In [15]:

for i in range(1,201):
  flag=True
  for j in range(2,i) :
    if i %j==0 :
      flag=False
      break
  if flag :
    print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199