In [ ]:
"""assignment 1 armstrong number between 1042000 and 702648265"""

In [14]:
import math
for i in range(1042000,702648265):
  x=i
  digits=0
  while x>0 :
    digits = digits+1
    x = math.floor(x/10)
  sum =0
  x=i
  while x>0 :
    mod=x%10
    sum=sum+(mod**digits)
    x=math.floor(x/10)
  if sum==i:
    print("the 1st armstrong no. between 1042000 and 702648265 is:  ",sum)
    break

the 1st armstrong no. between 1042000 and 702648265 is:   1741725